
        <div class="rev_slider_wrapper fullwidthbanner-container">
            <div id="rev-slider2" class="rev_slider fullwidthabanner">
                <ul>

                    <li data-transition="random">

                        <img src="~/modaz/images/slider/slider-bg-3.png" alt data-bgposition="center center" data-no-retina>

                        <div class="tp-caption tp-resizeme text-6e6 font-weight-500 letter-spacing-08"
                            data-x="['left','left','left','center']" data-hoffset="['7','7','7','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['-122','-122','-122','-122']"
                            data-fontsize="['18','18','18','18']" data-lineheight="['36','36','36','36']"
                            data-width="full" data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                            data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="700"
                            data-splitin="none" data-splitout="none" data-responsive_offset="on">
                            Açılışa Özel
                        </div>
                        <div class="tp-caption tp-resizeme text-333 font-weight-500 letter-spacing-3"
                            data-x="['left','left','left','center']" data-hoffset="['7','7','7','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['-62','-62','-62','-62']"
                            data-fontsize="['72','72','72','46']" data-lineheight="['80','80','80','50']"
                            data-width="full" data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                            data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
                            data-splitin="none" data-splitout="none" data-responsive_offset="on">
                            Büyük Kampanya
                        </div>
                        <div class="tp-caption tp-resizeme text-6e6 font-weight-300 "
                            data-x="['left','left','left','center']" data-hoffset="['7','7','7','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['3','3','3','3']"
                            data-fontsize="['20','20','20','20']" data-lineheight="['48','48','48','48']"
                            data-width="full" data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                            data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
                            data-splitin="none" data-splitout="none" data-responsive_offset="on">
                            Tüm Ürünlerde %30 İndirimi Kaçırma
                        </div>
                        <div class="tp-caption" data-x="['left','left','left','center']"
                            data-hoffset="['7','7','7','0']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['72','72','72','72']" data-width="full" data-height="none"
                            data-whitespace="normal" data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                            data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
                            data-splitin="none" data-splitout="none" data-responsive_offset="on">
                            <a href="#" class="themesflat-button has-padding-36 bg-accent has-shadow"><span>Alışverişe
                                    Başla</span></a>
                        </div>
                    </li>


                    <li data-transition="random">

                        <img src="~/modaz/images/slider/slider-bg-5.png" alt data-bgposition="center center" data-no-retina>

                        <div class="tp-caption tp-resizeme text-white font-weight-300"
                            data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['-93','-93','-93','-93']"
                            data-fontsize="['24','24','24','18']" data-lineheight="['72','72','72','36']"
                            data-width="full" data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                            data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="700"
                            data-splitin="none" data-splitout="none" data-responsive_offset="on">
                            Sade, Dayanıklı ve Şık
                        </div>
                        <div class="tp-caption tp-resizeme text-white font-weight-500"
                            data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['-42','-42','-42','-42']"
                            data-fontsize="['52','52','52','40']" data-lineheight="['60','60','60','40']"
                            data-width="full" data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                            data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
                            data-splitin="none" data-splitout="none" data-responsive_offset="on">
                            Ustaların Elinden
                        </div>
                        <div class="tp-caption tp-resizeme text-white font-weight-400 "
                            data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['12','12','12','12']"
                            data-fontsize="['18','18','18','16']" data-lineheight="['72','72','72','38']"
                            data-width="full" data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                            data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
                            data-splitin="none" data-splitout="none" data-responsive_offset="on">
                            Ahşap Eşyalarla Tanış!
                        </div>
                        <div class="tp-caption" data-x="['left','left','left','center']"
                            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['80','80','80','80']" data-width="full" data-height="none"
                            data-whitespace="normal" data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                            data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
                            data-splitin="none" data-splitout="none" data-responsive_offset="on">
                            <a href="#" class="themesflat-button has-padding-36 bg-accent has-shadow"><span>Alışverişe
                                    Başla</span></a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>


        <section class="flat-row row-product-project shop-collection">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-section margin-bottom-41">
                            <h2 class="title">Tüm Ürünler</h2>
                        </div>
                        <ul class="flat-filter style-1 text-center max-width-682 clearfix">
                    @await Component.InvokeAsync("HomeMiniMenu")
                        </ul>
                        <div class="divider h40"></div>
                        <div class="product-content product-fourcolumn clearfix">
                            <ul class="product style2 isotope-product clearfix">
                        @await Component.InvokeAsync("HomeProducts")

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section class="flat-row row-best-sale">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-section margin-bottom-43">
                            <h2 class="title">
                                Çok Satanlar
                            </h2>
                        </div>
                        <div class="product-content product-fivecolumn clearfix">
                            <ul class="product style3">
                                <li class="product-item">
                                    <div class="product-thumb clearfix">
                                        <a href="#">
                                            <img src="~/modaz/images/shop/sh-5/1.jpg" alt="image">
                                        </a>
                                        <span class="new sale">Best</span>
                                    </div>
                                    <div class="product-info clearfix">
                                        <span class="product-title">Faux shearling aviator<br> jacket</span>
                                        <div class="price">
                                            <del>
                                                <span class="regular">$130.00</span>
                                            </del>
                                            <ins>
                                                <span class="amount">$100.00</span>
                                            </ins>
                                        </div>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a href="#">SEPETE EKLE</a>
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>
                                <li class="product-item">
                                    <div class="product-thumb clearfix">
                                        <a href="#">
                                            <img src="~/modaz/images/shop/sh-5/2.jpg" alt="image">
                                        </a>
                                        <span class="new sale">Best</span>
                                    </div>
                                    <div class="product-info clearfix">
                                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                        <div class="price">
                                            <ins>
                                                <span class="amount">$100.00</span>
                                            </ins>
                                        </div>

                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a href="#">SEPETE EKLE</a>
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>
                                <li class="product-item">
                                    <div class="product-thumb clearfix">
                                        <a href="#">
                                            <img src="~/modaz/images/shop/sh-5/3.jpg" alt="image">
                                        </a>
                                        <span class="new sale">Best</span>
                                    </div>
                                    <div class="product-info clearfix">
                                        <span class="product-title">Hood wool blend duffle<br> coat</span>
                                        <div class="price">
                                            <ins>
                                                <span class="amount">$130.00</span>
                                            </ins>
                                        </div>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a href="#">SEPETE EKLE</a>
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>
                                <li class="product-item">
                                    <div class="product-thumb clearfix">
                                        <a href="#">
                                            <img src="~/modaz/images/shop/sh-5/4.jpg" alt="image">
                                        </a>
                                        <span class="new sale">Best</span>
                                    </div>
                                    <div class="product-info clearfix">
                                        <span class="product-title">Slim-fit patterned suit<br> blazer</span>
                                        <div class="price">
                                            <del>
                                                <span class="regular">$170.00</span>
                                            </del>
                                            <ins>
                                                <span class="amount">$139.00</span>
                                            </ins>
                                        </div>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a href="#">SEPETE EKLE</a>
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>
                                <li class="product-item">
                                    <div class="product-thumb clearfix">
                                        <a href="#">
                                            <img src="~/modaz/images/shop/sh-5/5.jpg" alt="image">
                                        </a>
                                        <span class="new sale">Best</span>
                                    </div>
                                    <div class="product-info clearfix">
                                        <span class="product-title">Cotton cashmereblend<br> cardigan</span>
                                        <div class="price">
                                            <del>
                                                <span class="regular">$130.00</span>
                                            </del>
                                            <ins>
                                                <span class="amount">$100.00</span>
                                            </ins>
                                        </div>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a href="#">SEPETE EKLE</a>
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>