<section class="flat-row flat-error">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-error text-center">
                    <div class="header-error">
                        404
                    </div>
                    <div class="content-error">
                        <h2>Çok Yakında</h2>
                        <p>Geliştirme Devam etmektedir.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>