<div id="loading-overlay">
    <div class="loader"></div>
</div>

<div class="boxed">

    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-heading">
                        <h1 class="title">Hakkımızda</h1>
                    </div>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                            <li><a asp-controller="AboutUs" asp-action="Index">Ürünler</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="blog-posts blog-detail">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="post-wrap detail">
                        <article class="post clearfix">
                            <div class="content-post">
                                <div class="entry-post">
                                    <p>Earlier this month, the Selfridges Wonder Room welcomed a new addition to its star-studded and sparkling roster: Bucherer Fine Jewellery. Bucherer is a brand steeped in history; it was founded nearly 130 years ago in 1888 in Switzerland, the home of jewellery, and has been creating modern pieces with a rich heritage ever since. From the younger Peekaboo collection to the high design of the Viv- elle line, there’s something for everyone here.</p>
                                    <p>Diamond connoisseurs will fall for the carats nestled within Bucherer’s designs, whether they’re in the market for an engagement ring, a statement necklace or the perfect pear drop earrings to offset &nbsp; any evening look. But the collection we’re most excited for is Peekaboo. Think Marie Antoinette meets Glossier with a smattering of stones thrown in for good measure.</p>
                                    <p>It’s feminine and bold, innocent but statement-making, and romantic in all the right ways. With a fon- dant fancy colour palette of brilliant-cut stones set in gold and decorated with dinky diamonds to bring another level to the pieces, it hits the right notes every time.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <a class="go-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>